#explore {
  display: flex;
  justify-content: center;
}

.explore__users {
<<<<<<< HEAD
<<<<<<< HEAD
  width: 100%;
  max-width: 600px;
  background: white;
  padding: 10px 20px 10px 20px;
=======
>>>>>>> master
}

.explore__users .explore__user {
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
}

<<<<<<< HEAD
.explore__user button:active {
  opacity: 0.5;
=======
}

.explore__users .explore__user {
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
}

.explore__users .explore__user:last-child {
  border: 0;
>>>>>>> master
=======
.explore__users .explore__user:last-child {
  border: 0;
>>>>>>> master
}

.explore__user .explore__content {
  display: flex;
  align-items: center;
}

.explore__user .explore__content img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
<<<<<<< HEAD
<<<<<<< HEAD
=======
  margin-right: 15px;
  transform-style: preserve-3d;
  animation: 6s potato infinite ease-in-out;
>>>>>>> master
}

@keyframes horse {
  to {
    transform: none;
  }
  from {
    transform: rotateY(360deg);
  }
}

@keyframes potato {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

.explore__info .explore__username {
  display: block;
  font-weight: 600;
  margin-bottom: 7px;
}

<<<<<<< HEAD
.explore__user .explore__content .explore__full-name {
  display: flex;
  margin-left: 15px;
  margin-top: 3px;
  font-size: 12px;
=======
  margin-right: 15px;
  transform-style: preserve-3d;
  animation: 6s potato infinite ease-in-out;
}

@keyframes horse {
  to {
    transform: none;
  }
  from {
    transform: rotateY(360deg);
  }
}

@keyframes potato {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

.explore__info .explore__username {
  display: block;
  font-weight: 600;
  margin-bottom: 7px;
}

=======
>>>>>>> master
.explore__info .explore__full-name {
  color: #999;
}

.explore__user button {
  border: 1px solid #3897f0;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  background: #3897f0;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.explore__user button:hover {
  background: white;
  color: #3897f0;
}

.explore__user button:focus {
  outline: none;
}

.explore__user button:active {
  opacity: 0.5;
<<<<<<< HEAD
>>>>>>> master
=======
>>>>>>> master
}
