#explore {
  display: flex;
  justify-content: center;
}

.explore__users {
  width: 100%;
  max-width: 600px;
  background: white;
  padding: 10px 20px 10px 20px;
}

.explore__user button {
  display: inline-block;
  margin-left: 330px;
  color: #FFF;
  font-weight: 600;
  padding: 5px 10px;
  border: 1px;
  border-radius: 3px;
  background: #3897f0;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.explore__user button:hover {
  background: white;
  color: #3897f0;
}

.explore__user button:focus {
  outline: none;
}

.explore__user button:active {
  opacity: 0.5;
}

.explore__user .explore__content {
  display: flex;
  align-items: center;
}

.explore__user .explore__content img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.explore__user .explore__content .explore__username {
  display: flex;
  margin-left: 15px;
  font-size: 12px;
  font-weight: 600;
}

.explore__user .explore__content .explore__full-name {
  display: flex;
  margin-left: 15px;
  margin-top: 3px;
  font-size: 12px;
}
