body {
  background: #fafafa;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  font-family: 'Open Sans', sans-serif;
=======
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
=======
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
>>>>>>> master
=======
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
=======
  font-family: 'Open Sans', sans-serif;
>>>>>>> bc3a187ae967658b37ba8a19bff6d00fb594db1f
>>>>>>> master
>>>>>>> 17998078705463f2ac9ebe8426232f9b941befd6
}

a {
  text-decoration: none;
}
=======
>>>>>>> master
>>>>>>> 17998078705463f2ac9ebe8426232f9b941befd6

main {
  margin: 60px 0;
  animation: 1s popIn ease-in;
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: .5;
    transform: none;
  }


.u-default-box {
  width: 100%;
  max-width: 600px;
  background: white;
  border: 1px solid rgba(0, 0, 0, .0975);
  border-radius: 3px;
}
=======
>>>>>>> master
=======
=======
>>>>>>> bc3a187ae967658b37ba8a19bff6d00fb594db1f
>>>>>>> master
>>>>>>> 17998078705463f2ac9ebe8426232f9b941befd6
